@use '../custom' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.heading::before{
  content: '';
  width: 10rem;
  height: .1rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}
.heading::after{
  content: '';
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  height: .2rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}