@use '../custom' as *;
@use '../component/mixins' as *;

.intro-section{
  @include gradient();
  padding-top: 10rem;
}

.intros{
  text-transform: capitalize;
  color: $white;
  h1{
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .video-box{
    position: relative;
    
    a{

      // @include centerPosition();
      span{
        i{
          font-size: 6rem;
          color: $secondary;
        }
      }
  
    }
  }
}

.border-anim{
  position: absolute;
  top: 21px;
  left: 0;
  border: 0.55rem solid $white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  animation: border-anim 1.5s linear infinite;

  &--border-1{
    animation-delay: 1s;
  }

  &--border-2{
    animation-delay: 1.5s;
  }
}