@use '../custom' as *;
@use '../component/mixins' as *;

.testimonials{
  padding: 0;
  position: relative;
  @include gradient;

  &__card{
    background-color: rgba($white, 0.8);
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    height: auto;
    text-align: center;
    i{
      font-size: 2rem;
      color: rgba($primary, 0.7);
    }
    .ratings{

      i{
        font-size: 1rem;
        color: rgba($primary, 0.7);
      }
    }
  }
  &__photo{
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: .2rem;

    img{
      border: 0.3rem solid rgba($white, 0.8);
    }
  }
  &__name{
    padding-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    color: $white;

    h3{
      padding-top: 0.8rem;
      text-transform: capitalize;
    }
    p{
      padding-bottom: 2rem;
      text-transform: capitalize;
    }

  }
}